<div class="welcome_contet">

    <mat-card class="card_welcome">

        <h1>!BIENVENIDO!</h1>

        <h3>Te damos la bienvenida a ##, donde podras mantenerte informado de los eventos del lugar</h3>
    
        <hr>
        <br>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="40vh">
            <mat-grid-tile>
                <mat-card class="mini_card">
                    <mat-card-title>Visitante</mat-card-title>
                    <mat-card-subtitle>Explora diversos eventos y vive experiencias unicas</mat-card-subtitle>
                    <img class=" card-img" mat-card-image src="assets/img/png/no-image.png">
                    <mat-card-content>
                        <div class="button">
                            <button   mat-button>Explorar Eventos</button>
                        </div>
                    </mat-card-content>
                </mat-card>
                <!-- <h3><b>Visitante</b></h3> -->
                <!-- <p>Explora diversos eventos y vive experiencias unicas</p> -->
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="mini_card">
                    <mat-card-title>Organizador</mat-card-title>
                    <mat-card-subtitle>Crea eventos e incrementa  tu audiancia </mat-card-subtitle>
                    <img class=" card-img" mat-card-image src="assets/img/png/no-image.png">
                    <mat-card-content>
                        <div class="button">
                            <button   mat-button>Crea Evento</button>
                        </div>
                    </mat-card-content>
                </mat-card>
               
            </mat-grid-tile>
          </mat-grid-list>
      </mat-card-content>
        
        
    </mat-card>

 

    

</div>
