<div class="register_content">
    <mat-card class="card_register" >
        <mat-card-title>Registro</mat-card-title>
        <mat-card-content>
            <form >
                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Correo Electronico</mat-label>
                        <input type="email" matInput>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Nombre</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Contraseña</mat-label>
                      <input type="password" matInput>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field>
                        <mat-label>Repetir Contraseña</mat-label>
                      <input type="password" matInput>
                    </mat-form-field>
                  </p>
                
                <div class="button">
                    <button  type="submit" mat-button>Registrarte</button>
                </div>
            </form>
            <hr>
           <br>

            <div class="button_register">
                <button  mat-button>¿Ya tienes cuenta?</button>
            </div>
            
        </mat-card-content>
    </mat-card>
</div>
