 .mat-toolbar{
    background-color: #FF7100 ;
}

.info_card{
     margin-left: 10%;
    width: 100%;
     /* height: 70%;  */
    /* text-align: center; */
    background: #FFFFFF;
    color: #FF7100;
    border-bottom: 0;
    border-radius: 0;
    box-shadow: none;
}

.info_card mat-card-content{
    color: #000000;
}

.carousel-indicators button{
    color: #000000 !important;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent{
    color: #000000 !important;
}



mat-card-subtitle{
    color: #FF7100;
}

::ng-deep mat-icon{
    color: #FF7100;;
}

.img_card{
    /* margin-top: 10%; */
    background: #FFFFFF;
    width: 100%;
    height: 75%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius:  0;
    border-bottom-right-radius: 0;
    /* height: 90%; */
}

mat-card img {
    height: calc(100% + 32px);
    margin-bottom: 0;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }


.button{
    /* margin-left: 5%; */
    width: 50%;
    border-radius: 0.5em ;
    border: solid 2px #FF7100;
    background: #FFFFFF;
    color: #FF7100;
    margin-bottom: 5%;
    text-align: center;
 }

 .sponsors_line {
    /* width: 100vw; */
    height: 120px;
    background: linear-gradient(to right, #FF7100, #FFEBA3);
    color: #FF7100;
    color: #f0e9e2;
    clear:both;
 }
 .title{
    position: absolute;
    top: 15px;
    right: 1px;
 }

 hr{
    background: #FFEBA3;
    color: #FFEBA3;
    height: 1px;
	border-width: 0;	
    clear: both;
 }

.sponsors{
    left: calc((4.33333% - 0.916667px + 1px) * 3) !important;
    top: -30px !important;
}

 .sponsors_card{
    margin-right: 3%;
    height: 25%;
     width: 30%;
     border-radius: 0.25rem;  
 }

 .sponsors_card img {
    height: calc(100% + 35px);
    margin-bottom: -22px;
    border-radius: 0;
    border-radius: 0.25rem;
  }

.event_title{
    margin-left: 5%;
    color: #FF7100;
    margin-top: 3%;
}

.event_card{
    /* margin-left: 10%; */
    width: 80%;
    /* height: 50vh; */
    background: #FFFFFF;
    color: #FF7100;
    border-radius: 0.25rem;

}
.event_card img {
    padding-top: 0;
    height:30%;
    width: (100% + 32px);
    margin-bottom: 10px;
    border-radius: 0.25rem;
  }
.event_grid{
    margin-left: 2%;
    margin-right: 2%;
}

.event_button{
    width: 20%;
}

.event_data{
    margin: 5%;
    width: 100%;
    height: 60%;
    background: #FFFFFF;
    color: #FF7100;
    text-align: center;
    vertical-align: middle;
    border-radius: 1rem;
}

.event_data mat-card-title{
    margin: 10%;
    font-size: 70px;
}

.event_data mat-card-subtitle{
    margin-top: 15%;
}

.event_create_line{
    /* width: 100vw; */
    height: 150px;
    margin-top: 10%;
    background: linear-gradient(to right, #FF7100, #FFEBA3);
    color: #FF7100;
    color: #f0e9e2;
    clear:both;
    /* position: absolute; */
}

.event_create_content{
    display: flex;
}

.event_create_content_info {
    margin-left: 5%;
    margin-top: 2%;
    width: 30%;


}

.event_create_content_img{
    width: 60%;
    
}

.event_create_content_img img {
   width: 90%;
    left: 10%;
    top: -5vh;
    border-radius: 0.5rem;
    height: 210px;
    position: relative;
}

.event_create_content_info .button{
    position: relative;
    bottom: 5%;
    left: 20%;
    width: 30%;
}

.create_event_title{
    position: absolute;
    top: 15px;
    right: 1px;
 }

 .img_footer{
    width: 100px;
    height: 50px;
 }
.footer_title{
   
    color: #FF7100;
}

.footer_title b{
    text-decoration: underline;
}

.footer_title .social_svg{
    margin-right: 20%;
    margin-left: 20%;
}

.button_en{
    margin-left: 10%;
    background: #FF7100;
    color: #FFFFFF;
}
.button_es{
    margin-left: 10%;
}
.img_nav{
    width: 100px;
    height: 50px;
    margin-left: 5%;
}
.menu{
    margin-left: 10%;
    width: 35%;
}
.menu-item{
    margin: 10%;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 75%;
}
.menu-item:hover {
    text-decoration: underline;
}
.button_login{
    margin-left: 15%;
    border-radius: 2rem;
    border: solid 2px #FFFFFF;
    background-color: #FF7100;
    color: #FFFFFF;
}
.button_register{
    margin-left: 5%;
    border-radius: 2rem;
    border: solid 2px #FF7100;
    background-color: #FFFFFF;
    color: #FF7100;
}



::ng-deep .mat-menu-content , .mat-menu-panel, .mat-menu-item {
    background: #FFFFFF !important;
    color: #FF7100 !important;
}

::ng-deep .mat-menu-item:hover{
    background: #FF7100 !important;
    color: #FFFFFF!important; 
}

::ng-deep .mat-list-text{
    flex-direction: row !important;
    justify-content: space-around;

}

