<mat-toolbar>
    <mat-toolbar-row>
        <img class="img_nav" src="assets/img/png/no-image.png">
        <span class="example-spacer"></span>
        <div class="menu">
            <a class="menu-item" href="home">Inicio</a>
            <a class="menu-item" href="list-event">Explorar</a>
            <a class="menu-item" href="">Crear</a>
            <a class="menu-item" href="contact">Contacto</a>

                <button  class="button_login"  mat-button>Iniciar Sesión</button>
                <button class="button_register"  mat-button>Registrarse</button>

        </div> 
      </mat-toolbar-row>
</mat-toolbar>
<br>
<br>

<div>
    <div class="title">
        Explorar Eventos
    </div> 

    <div class="content_saved-events"*ngIf="events">
        <div class="row" *ngFor="let e of events">
            <mat-card class="info_card">
                <mat-card-title>{{e.event_date |  date: 'dd'}}</mat-card-title>
                <hr>
                <mat-card-subtitle>{{e.event_date |  date: 'MMMM'}}</mat-card-subtitle>
            </mat-card>
    
            <mat-card class="img_card">
                <mat-card-content class="img_card_content">
                    <div class="img_card_content_info">
                        <h3><b>{{e.title}}</b></h3>
                        <p class="hour-title">{{e.event_date | date: 'H'}}</p>
                        <p>{{e.location}}</p>
                        <span>{{e.description}}</span>
                        <br>
                        <span class="button_icons">

                            <button  mat-raised-button (click)="copyText(e.event_id)"
                              matTooltip="Copiar link para compartir"
                             aria-label="Button that displays a tooltip when focused or hovered over">
                                 <svg   xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#FF7100" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
                               </svg>
                            </button>
                            <button  mat-raised-button 
                              matTooltip="Agregar a tus Eventos"
                             aria-label="Button that displays a tooltip when focused or hovered over">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#FF7100" class="bi bi-bookmark-heart-fill" viewBox="0 0 16 16">
                                <path d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                            </svg>
                        </button>
                        </span>
                    </div>
                    <img  mat-card-image src="assets/img/png/no-image.png">
                    
                </mat-card-content>
       
            </mat-card>
        </div>
    </div>
</div>

