.mat-toolbar{
    background-color: #FF7100 ;
}
.img_nav{
    width: 100px;
    height: 50px;
    margin-left: 5%;
}
.menu{
    margin-left: 10%;
    width: 35%;
}
.menu-item{
    margin: 10%;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 75%;
}
.menu-item:hover {
    text-decoration: underline;
}
.button_login{
    margin-left: 15%;
    border-radius: 2rem;
    border: solid 2px #FFFFFF;
    background-color: #FF7100;
    color: #FFFFFF;
}
.button_register{
    margin-left: 5%;
    border-radius: 2rem;
    border: solid 2px #FF7100;
    background-color: #FFFFFF;
    color: #FF7100;
}

.content_show-event{
    width: 90vw;
    margin: auto;
}

.div-event{
    width: 90%;
    justify-content: center;
    display: block;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.card_event{
    margin-top: 5%;
    border-radius: 1rem;
    background-color: #FFFFFF ;
    border: 2px #FF7100 solid;
    margin-bottom:5%;
    color: black;
}

.img_card_event{
    height: 65vh;
    margin-top: -18px !important;
    margin-left: -18px;
    width: calc(100% + 35px);
}
.title_hours{
    width: 100%;
    justify-content: space-between;
    display: flex
}

.hour{
    width: 50%;
    text-align: left;
}

.img_footer{
    width: 100px;
    height: 50px;
 }
.footer_title{
   
    color: #FF7100;
}

.footer_title b{
    text-decoration: underline;
}

.footer_title .social_svg{
    margin-right: 20%;
    margin-left: 20%;
}

.button_en{
    margin-left: 10%;
    background: #FF7100;
    color: #FFFFFF;
}
.button_es{
    margin-left: 10%;
}