<div class="login_content">
    <mat-card class="card_login" >
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="#FF7100" class=" img_nav bi bi-ticket-perforated-fill" viewBox="0 0 16 16">
            <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zm4-1v1h1v-1zm1 3v-1H4v1zm7 0v-1h-1v1zm-1-2h1v-1h-1zm-6 3H4v1h1zm7 1v-1h-1v1zm-7 1H4v1h1zm7 1v-1h-1v1zm-8 1v1h1v-1zm7 1h1v-1h-1z"/>
          </svg>
          
        <mat-card-title>Login</mat-card-title>
        <br>
        <mat-card-content>
            <form [formGroup]="loginForm">
                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Correo Electronico</mat-label>
                        <input id="email" type="email" formControlName="email" name="email" matInput>
                        <mat-error 
                        *ngIf="loginForm.controls['email'].status === 'INVALID' && loginForm.controls['email'].touched">
                        {{loginForm.controls['email'].error}}
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label>Contraseña</mat-label>
                      <input  id="pass" type="password" formControlName="password" name="password" matInput>
                      <mat-error
                      *ngIf="loginForm.controls['password'].status === 'INVALID' && loginForm.controls['password'].touched">
                      {{loginForm.controls['pass'].error}}
                    </mat-error>
                    </mat-form-field>
                  </p>
                
                <div class="button">
                    <button  type="submit" (click)="login()"
                    [disabled]="loginForm.status === 'INVALID'"  mat-button>Iniciar sesión</button>
                </div>
            </form>
            <hr>

            <!-- <p>
                <a class="button_forget" (click)="openForgetDialog()">¿Olvidaste tu contraseña?</a>
            </p> -->


            <div class="button_register">
                <button  (click)="goToPage('register')"  mat-button>¿No tienes cuenta?</button>
            </div>
            
        </mat-card-content>
    </mat-card>
</div>

